PAYFAST_MERCHANT_ID=
PAYFAST_MERCHANT_KEY=
PAYFAST_PASSPHRASE=

PAYFAST_TEST_MODE=
PAYFAST_MERCHANT_ID_TEST=
PAYFAST_MERCHANT_KEY_TEST=
PAYFAST_PASSPHRASE_TEST=
PAYFAST_TEST_MODE_ITN_URL=
PAYFAST_DEBUG=

BANK_NAME=
BANK_ACCOUNT_NUMBER=
BANK_BRANCH_CODE=

INVOICE_COMPANY_NAME=
INVOICE_COMPANY_ADDRESS=
INVOICE_COMPANY_CITY=
INVOICE_COMPANY_PHONE=
INVOICE_COMPANY_EMAIL=
